.footer{
    height:24px;
    margin-top: 1rem;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    padding: 15px 23px;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /*position: absolute;*/

}

.footer_contents {

    height:24px;
width: 1000px;
margin:auto;

}